// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin Lte
@import "~admin-lte/dist/css/adminlte.min.css";

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all";
@import "~@fortawesome/fontawesome-free/css/brands";
@import "~@fortawesome/fontawesome-free/css/fontawesome";
@import "~@fortawesome/fontawesome-free/css/regular";
@import "~@fortawesome/fontawesome-free/css/solid";
@import "~@fortawesome/fontawesome-free/css/svg-with-js";
@import "~@fortawesome/fontawesome-free/css/v4-shims";
.login_logo{
	display:flex;
	justify-content:center;
}
.nav.nav-pills.nav-sidebar.flex-column{
	font-size:18px;
}
.isRequired{
	border:1px solid red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
