.content-wrapper {
  background: #f1f4f6;
  padding-top: 30px;
}

.main-sidebar {
  background: #fff;
}

.main-header {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #3f6ad8;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  line-height: initial;
}

.brand-link {
  background: #5279dc;
  color: #fff;
  text-align: center;
}

.brand-link.open.active {
  background: #5279dc;
  color: #fff;
  text-align: center;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.peIcon {
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 33px;
  font-size: 22px;
  transition: color 300ms;
  color: #3f6ad8;
}

.nav-sidebar .nav-item > .nav-link {
  display: flex;
  align-items: center;
  transition-delay: 300ms;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #3f6ad8;
  background: #e0f3ff;
  font-weight: bold;
  font-weight: bold;
}

.nav-sidebar .nav-treeview {
  transition: padding 300ms;
  padding: 0.5em 0 0 2rem;
  position: relative;
}

.nav-sidebar .nav-treeview::before {
  content: "";
  height: 100%;
  opacity: 1;
  width: 3px;
  background: #e0f3ff;
  position: absolute;
  left: 32px;
  top: 0;
  border-radius: 15px;
}

.nav-sidebar .menu-open > .nav-link {
  font-weight: bold;
}

.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
  position: absolute;
  right: 1rem;
  top: 18px;
}

.table th,
.table td {
  padding: 0.25rem;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #e9ecef;
}

.table-hover tbody tr:hover {
  background-color: #e0f3ff;
}

.btn_transparent {
  background: transparent;
  border: none;
  font-size: 24px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 0;
}

.title_user {
  color: #3f6ad8;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header .title_user .peIcon {
  font-size: 30px;
  margin-right: 10px;
}

.logout_btn {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 20px;
  height: 35px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.logout_btn:hover {
  color: #3f6ad8;
  border: 1px solid #fff;
  background: #fff;
  text-decoration: none;
}

.btn.btn-primary.back_btn.active,
.btn.btn-primary {
  color: #3f6ad8;
  background: transparent;
  border: 1px solid #3f6ad8;
  font-size: 16px;
  line-height: 20px;
  height: 35px;
}

.btn.btn-primary span {
  width: auto;
  height: auto;
  line-height: normal;
  font-size: 18px;
}

.btn.btn-primary i {
  font-size: 12px;
}

.card-header::after {
  display: none;
}

.lognCard {
  margin-bottom: 0;
  height: 100vh;
  width: 100%;
  border: none;
}

.login-card-body {
  background-image: url("/img/loginbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-card-body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.form_content {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(0, 35, 109, 0.05);
  width: 360px;
  padding: 30px;
}

.login_alert {
  width: 360px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff3c3c;
  color: #ff3c3c;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  padding: 8px 20px;
  border-radius: 4px;
}

.login_title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #00236D;
  text-align: center;
  margin-bottom: 30px;
}

.btn-block {
  background: #00236D;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  border: none;
  height: 46px;
}

.form-control {
  background: #FFFFFF;
  border: 1px solid #D4E2F5;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  height: 40px;
}

.login-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text,
.register-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text,
.form-control:focus {
  border-color: #00236D;
}

.input-group-text {
  border-color: #D4E2F5;
}

.input-group {
  margin-bottom: 30px;
}

.form-control:focus {
  box-shadow: none;
}

.input_style {
  min-height: 32px;
  height: auto;
}

.form_btn {
  display: flex;
  align-items: flex-end;
}

.redText {
  color: red;
}

.pe-7s-menu {
  color: #fff;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}

.isRequired {
  border-color: red !important;
}

.radio_style_input {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 0;
}

.radio_style_label {
  font-size: 18px;
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  z-index: 1;
}

.radio_style_label::before {
  content: "";
  height: 25px;
  width: 25px;
  border: 1px solid #00236D;
  border-radius: 4px;
  display: block;
  margin-right: 10px;
}

.radio_style_label::after {
  content: "";
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #00236D;
  border-radius: 4px;
  display: block;
  margin-right: 10px;
  border-radius: 4px;
  transform: scale(0);
  background: #00236D;
  transition: 0.5s;
}

.radio_style_block {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}

.radio_style_input:checked + .radio_style_label:after {
  transform: scale(0.7);
}

.test_header {
  display: flex;
  justify-content: space-between;
}

.test_pogination_responsive {
  overflow-x: auto;
  width: 100%;
  margin: 30px 0;
  position: relative;
  height: 80px;
}

.test_pogination_responsive::-webkit-scrollbar {
  width: 1px;
}

/* Track */

.test_pogination_responsive::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */

.test_pogination_responsive::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
}

/* Handle on hover */

.test_pogination_responsive::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

.test_pogination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 100%;
  overflow: visible;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.test_pogination li {
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.25rem;
  min-width: 50px;
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  margin-right: 15px;
  font-size: 20px;
  color: #3f6ad8;
}

.test_pogination li.active {
  background: #3f6ad8;
  color: #fff;
}

.test_pogination li.active p {
  color: #fff;
}

.test_pogination li p {
  margin-bottom: 0;
  line-height: 26px;
  color: #000;
}

.test_pogination li:last-child {
  margin-right: 0;
}

.test_question_block {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #fff;
  width: 100%;
  height: auto;
  padding: 30px;
  font-size: 20px;
  border-radius: 6px;
}

.test_answers_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.input_radio_block {
  font-size: 20px;
  width: 48%;
  margin-top: 30px;
  position: relative;
}

.input_radio_block input {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.input_radio_block label {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #fff;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.5s;
}

.input_radio_block input:checked + label {
  background: #3f6ad8;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.input_radio_block label:hover {
  background: #3f6ad8;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.for_guest {
  position: relative;
}

.base-timer {
  position: absolute;
  top: -20px;
  right: 0px;
  width: 80px;
  height: 80px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.blue {
  color: #3f6ad8;
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.pr-100 {
  padding-right: 100px;
}

